<!DOCTYPE html>
<html>
    <link href="../static/output.css" rel="stylesheet">
    <head>
        <title>Comment</title>
    </head>
    <body  class="bg-gray-100">
        <h1 class="text-3xl font-bold text-center pt-8">Will you add comment?</h1>
        <p class="text-2xl text-center p-6">Forum to search for playmates!</p>
        <div class="flex justify-center p-2 font-bold">
            <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">      <form action="/createpost" method="post">
            <!-- Form fields and other content -->
            <button type="submit">Create Post</button>
            </form>
        </div>
        <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">      <form action="/myposts" method="post">
            <button class="transition duration-500" type="submit" value="myposts" name="myposts">My posts</button>
        </form>
    </div>
    <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">        <form action="/myposts" method="post">
            <button class="transition duration-500" type="submit" value="mylikedposts" name="myposts">My liked posts</button>
        </form>
      </div>

      <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">
      <button
        onclick="window.location.href='http://localhost:8080/homepage.html'"
      >
        Show all posts
      </button>
    </div>
    <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">        <form action="/logout" method="post">
          <label for="log-out"> </label>
          <input type="submit" id="log-out" name="log-out" value="Log out" />
        </form>
      </div>
    </div>
    <div class="flex flex-col p-8 bg-gray-200 mb-4 mx-16 rounded">
        <div class="bg-gray-300">
            <form class="bg-gray-300 m-3" method="post" action="/submitcomment?id={{.}}">
                <textarea class="bg-gray-100" name="comment" placeholder="Your comment"></textarea>
                <input class = "bg-blue-300 hover:bg-blue-400 border rounded m-2 px-2 transition duration-500" type="submit" value="Submit Comment">
            </form>
        </div>
    </div>
    </body>
</html>