<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link href="../static/output.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-100">
        <h1 class="text-3xl font-bold text-center pt-8">Moderation!</h1>
        <p class="text-2xl text-center p-6">Moderator requests:</p>
        {{if .ModerationRequests}}
        {{range $i, $v := .ModerationRequests}}
        <div class="bg-white shadow rounded p-4 mb-4 max-w-xl mx-auto">
            <p class="text-lg mb-2">Username: <strong>{{$v}}</strong></p>
            <form action = "/admin" method = "post">     
            <div class="flex justify-center">
                <button class="bg-green-500 hover:bg-green-600 text-white py-1 px-4 rounded mr-2" type= "submit" value = "{{$v}}" name = "accept"  > Accept</button>
                <button class="bg-red-500 hover:bg-red-600 text-white py-1 px-4 rounded" type = "submit" value = "{{$v}}" name = "decline" > Decline </button>
            </div>
        </form>
        </div>
        {{end}}
        {{else}}
        <div class="bg-white shadow rounded p-4 max-w-xl mx-auto"> 
            <p class="text-lg">No requests!</p>
        </div>
        {{end}}
        <p class="text-2xl text-center pt-8 pb-4">Manage moderators: </p>
        {{if .Moderators}}
        {{range $i, $v := .Moderators}}
        <div class="bg-white shadow rounded p-4 mb-4 max-w-xl mx-auto">
            <p class="text-lg mb-2">Username: <strong>{{$v}}</strong></p>
            <form action = "/admin" method="post">     
            <div class="flex justify-center">
                
                <button class="bg-red-500 hover:bg-red-600 text-white py-1 px-4 rounded" type = "submit" value = "{{$v}}" name = "remove" > Remove </button>
            </div>
        </form>
        </div>
        {{end}}
        {{end}}
        <div class="absolute bottom-4 left-0 right-0 text-center pb-4">
            <button class="bg-blue-300 hover:bg-blue-400 border rounded m-8 p-2 transition duration-500" onclick="window.location.href='http://localhost:8080/homepage.html'">
                Return to Homepage
            </button>
          </div>
    </body>
</html>
