<!-- <!DOCTYPE html>
<html>
    <link href="../static/output.css" rel="stylesheet">
    <head>
        <title>Homepage</title>
    </head>
    <body class="bg-gray-100">
        <h1 class="text-3xl font-bold text-center pt-8">Will you create a post?</h1>
        <div class="flex justify-center p-2 font-bold">
            <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">      <form action="/createpost" method="post">
                <button type="submit">Create Post</button>
            </form>
        </div>
        <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">      <form action="/myposts" method="post">
            <button class="transition duration-500" type="submit" value="myposts" name="myposts">My posts</button>
        </form>
        </div>
        <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">        <form action="/myposts" method="post">
                <button class="transition duration-500" type="submit" value="mylikedposts" name="myposts">My liked posts</button>
            </form>
        </div>

      <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">
      <button
        onclick="window.location.href='http://localhost:8080/homepage.html'"
      >
        Show all posts
      </button>
    </div>
    <div class = "bg-blue-300 hover:bg-blue-400 border rounded p-2 transition duration-500">        <form action="/logout" method="post">
          <label for="log-out"> </label>
          <input type="submit" id="log-out" name="log-out" value="Log out" />
        </form>
      </div>
    </div>
        <div class="flex flex-col p-8 bg-gray-200 mb-4 mx-16 rounded">
            <div class="relative bg-gray-300">
                <p class="text-left p-6">Choose Category filter for the post:</p>
                <form class="bg-gray-300 m-3" action="/submitpost" method="post">
                    <input type="checkbox" id="league" name="league" value="1">
                    <label for="league">league</label><br>
                    <input type="checkbox" id="runescape" name="runescape" value="2">
                    <label for="runescape">runescape</label><br>
                    <input type="checkbox" id="counter-strike" name="counter-strike" value="3">
                    <label for="counter-strike">counter-strike</label>
                    <br>
                    <textarea class="m-3" id="postContent" name="postContent" rows="5" cols="40" placeholder="Add post text!"></textarea><br>
                    <button class="bg-blue-300 hover:bg-blue-400 border rounded m-2 px-2 transition duration-500" type="submit">Post</button>
                </form>
            </div>
        </div>
    </body>
</html> -->
