<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>For view only! But its filtered!</h1>
        {{range .Posts}}
        <div class="post">
            <h2>{{.ID}}</h2>
            <p>{{.Content}}</p>
            <p>Posted by: {{.Username}}</p>
            <p>Comments:</p>
            {{range .Comments}}
            <p>Comment content : {{.Content}}</p>
            <p>Comment by: {{.Username}}</p>
            {{end}}
        </div>
        {{else}}
        <p>No posts yet.</p>
        {{end}}
    </body>
</html>