<!DOCTYPE html>
<html>

<head>
    <title>Forum SPA</title>
    <link href="../static/output.css" rel="stylesheet">
</head>

<body id ="body" class="bg-gray-200 min-h-screen flex items-center justify-center">
  <!-- Sidebar container for user list -->
  <button id="toggleUserListBtn">Toggle friendlist</button>
  <div id="userList" class="user-list">
  <!-- Dynamically populated user list will go here -->
</div>

<!-- Toggle button to open chatbox -->

<div id="chatbox" class="chatbox">

  <div class="chat-header">
      <span id="chat-header-username"></span> 
      <span class="close">&times;</span>
    </div>

    <!-- Messages container -->
    <div class="messages" id="messages"></div>

    <!-- Chat Footer -->
    <div class="chat-footer">
      <input type="text" id="messageInput" placeholder="Type your message">
      <button id="sendMessage">Send</button>
    </div>
</div>

    <div id="app" class="bg-white p-8 rounded-lg shadow-md w-96">
        <!-- Content will be loaded here dynamically -->
    </div>

  <script src="../forumpages/forum.js"></script>
</body>

</html>
