<!-- <!DOCTYPE html>
<html>
    <link href="../static/output.css" rel="stylesheet">
    <head>
        <title>Homepage</title>

    </head>
    <body>
        {{if .}}
        <div class = "flex bg-gray-100" ></div>
        <p class="flex place-items-center font-extrabold text-3xl justify-center p-10">
            An error occured. 
            {{.Code}}: {{.Message}}
        </p>
        <a class="button-link text-blue-500 hover:underline" href="index.html"> Back to frontpage.</a>
        {{else}}
        <script>
            setTimeout(function(){
                window.location.href = '/';
            }, 1000);
        </script>
        <div class = "flex bg-gray-100" ></div>
        <p class="flex place-items-center font-extrabold text-3xl justify-center p-10">You have created an account!</p>
        {{end}}
    </body>
</html> -->