

body { margin-top: 100px; background-color: #F8F9FA; color: #2F3C7E; text-align:center; }

h1 {
  font: 2em 'Roboto', sans-serif;
  margin-bottom: 40px;
}

#loading {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 10px solid rgba(255,255,255);
  border-radius: 50%;
  border-top-color: #2F3C7E;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}